!!!
%html
  %head
    %title Markov
    %style{:type=>"text/css"}
      :sass
        body
          margin: 40px
          font-family: sans-serif
          background-color: #def
        p
          line-height: 1.4em
          padding: 10px
        .generated
          border: 1px dotted black
  %body
    %h1 Markov Chains
    .generated
      %h2 Generated text:
      %p
        =@txt
