!!!
%html{html_attrs('en-GB')}
  %head
    %title Markov

  %body
    %h1 Markov Chains
    %form{:action=>""}
      %fieldset
        %legend Choose sources for generator
        - MarkovData::Sources.each do |key, title|
          %label{:for=>key}= title
          %input{:type=>"checkbox", :id=> key, :name=>"data[]", :value=>key, :checked=> params["data"] && params["data"].include?(key)}
          %br
      
      %label{:for=> 'numwords'} Number of words to generate (max 1000):
      %input{:id=> 'numwords', :name=>'numwords', :value=>params['numwords'] || '600'}
      %br
      %fieldset
        %legend Choose generator type
        %input{:type=>"radio", :name=>'impl', :value=>'ruby', :checked=> !params['impl'] || params['impl'] == 'ruby', :id=>'ruby_gen'}
        %label{:for=>'ruby_gen'} Ruby
        %br
        %input{:type=>"radio", :name=>'impl', :value=>'native', :id=>'native_gen', :checked=> params["impl"] && params["impl"] == 'native'}
        %label{:for=>'native_gen'} Native (C)

      %input{:type=>"submit", :name =>'generate', :value=>"Generate!"}
    -if @txt
      .generated
        %h2 Generated text:
        %h3 (using #{@native ? "native" : "ruby"} generator - took #{@time} seconds)
        %p
          =@txt
    -elsif params['generate']
      %p You need to select something!
    %p
      %a{:href=>"http://en.wikipedia.org/wiki/Markov_chain"}Markov Chains on Wikpedia
